/* .degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 600px;
    height: 600px;
}
 */

 body {
     background-color: #5B618A;
 }

 p {
     font-family: 'Fira Sans', sans-serif;
     font-weight: 300;
     color: white;
     line-height: .8em;
 }

 b {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    color: white;
 }

 h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
 }

 .time {
     text-align: center;
     font-weight: 300;
     font-size: 14px;
     margin-bottom: 3vw;
 }

 .current_temp_details {
    width: 50vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin-bottom: 3vw;
 }

 .current_temp {
    text-align: right;
    border-right: 1px solid white;
    padding-right: 10px;
 }

 .temp_current {
    font-weight: 600;
    font-size: 200px;
    margin-top: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-right: 10px;
 }

 .feels {
    text-align: center;
    font-size: 20px;
 }
 
 .alerts {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 2vw;
 }

.days_title {
    font-size: 30px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50px;
    padding-top: 15px;
}

 .days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.3em;
    width: 90vw;
    margin: auto;
 }

.day {
    border: 1px solid white;
    text-align: center;
}

.day_details {
    font-size: 12px;
}

.day_high {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -15px;
    margin-top: 0px;
}

.day_low {
    font-size: 30px;
}

.current_details_title {
    font-size: 30px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50px;
    padding-top: 21vw;
}

.rain_chance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40px;
    margin: auto;
}

.rain_drop {
    background-image: url("/img/white.drop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
}

.hourly_rain_drop {
    background-image: url("/img/blue.drop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.current_details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    width: 600px;
    text-align: left;
    margin-top: 35px;
    margin-left: 50px;
}

 #map {
	width: 90vw;
    height: 600px;
    margin-left: 55px;
}

.hourly_title {
    font-size: 30px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50px;
    padding-top: 90px;
}

.hourly {
    width: 178vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    text-align: center;
    margin-top: 35px;
    background-color: white;
    
}

.window {
    width: 90vw;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
}

.hourly_time {
    color: #5B618A;
    border-right: 1px solid #5B618A;
}

.hour_times {
    color: #5B618A;
    font-size: 12px;
}

.hour_high {
    color: #5B618A;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}

.rain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: ;
    width: 80px;
    height: 50px;
    margin: auto;
}

.hour_rain {
    color: #5B618A;
    font-size: 12px;
    margin: auto;
}

.icon-01d {

}

.img {
    max-height: 100%;
    max-width: 100%;
}